[user]
        email = <%= @git_user_email %>
        name = <%= @git_user_fullname %>
[core]
        editor = vim
[color]
        ui = auto
[alias]
        st = status
        ci = commit
        co = checkout
[push]
	default = matching
